body{
	background-image: url(../img/movie.jpg);
	background-repeat: no-repeat;
	background-size: cover;
/* background-color: #2d3436; */
/* background-image: linear-gradient(360deg, #2d3436 0%, #000000 74%); */
overflow-x: hidden;
}
 nav {
 	background-color: #607D8B;
 	color: white;
 	width: 100%;
 }
h1{
	color: black;
	font-weight: bold;
}

label{
	color: black;
}

#formDiv{
	margin: auto;
	margin-top: 13vh;
	margin-bottom: 10vh;
 	width: 35%;
	text-align: left;
	border-style: inset;
	padding: 5vh;
	background-color: rgba(176, 192, 200, 0.6);

}

#addBtn {
	margin-top: 5px;
}

