

body{
background-color: #2d3436;
background-image: linear-gradient(360deg, #2d3436 0%, #000000 74%);
overflow-x: hidden;
}
 nav {
 	width: 100%;
 }
h1{
	color: white;
	font-weight: bold;
}


a { 
  font-size: 18px;
  width: max-content;
}

#search{
	margin: 10px, 10px, 10px, 10px;
	padding: 10px;
	border-radius: 10px;	
}


.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
#mySection {
	white-space: pre;
	background-size: cover;
    background-position: top;
    width: 100vw;
    padding: 75px 100px;
    margin-bottom: 10vh;
    text-align: center;
}



#tblMovies{
	border-radius: 10px;		
}


