

body{
background-color: #2d3436;
background-image: linear-gradient(360deg, #2d3436 0%, #000000 74%);
overflow-x: hidden;
}
 nav {
 	width: 100%;
 }
h1{
	color: white;
	font-weight: bold;
}


a { 
  font-size: 18px;
  width: max-content;
}

#search{
	margin: 10px, 10px, 10px, 10px;
	padding: 10px;
	border-radius: 10px;	
}





#mySection {
	background-size: cover;
    background-position: top;
    width: 100vw;
    padding: 75px 100px;
    margin-bottom: 30%;
    text-align: center;
}


.my-custom-scrollbar {
    float: left;
    width: 100%;
    height: 400px;
    overflow: auto;
    margin-top: 5vh;
    }
.table-wrapper-scroll-y {
    display: block;
    }


#tblMovies{
	border-radius: 10px;		
}


footer {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: rgba(52, 58, 64);
    padding: 10px;
    width: 100%;
}


