

body{
	background-color: #2d3436;
	background-image: linear-gradient(360deg, #2d3436 0%, #000000 74%);
	overflow-x: hidden;
	
}

h1{
	color: white;
	font-weight: bold;
}



#search{
	margin: 10px, 10px, 10px, 10px;
	padding: 10px;
	border-radius: 10px;	
}



#mySection {
	white-space: pre;
	background-size: cover;
    background-position: top;
    width: 100vw;
    padding: 75px 100px;
    margin-bottom: 10vh;
    text-align: center;
}



#tblProj{
	border-radius: 10px;		
}



