body{
	background-color: #2d3436;
	background-image: linear-gradient(360deg, #2d3436 0%, #000000 74%);
}


h2{
	color: white;
	font-weight: bold;
}

label{
	color: white;
}

#formDiv{
	margin: auto;
	margin-top: 13vh;
	margin-bottom: 10vh;
 	width: 25%;
	text-align: left;
	border-style: solid;
	padding: 5vh;
}


#addBtn{	
	margin-top: 10px;	
	margin-left: 45%;
	}