

body{
	background: rgb(95,144,152);
	background: radial-gradient(circle, rgba(95,144,152,1) 0%, rgba(76,112,153,1) 100%);
}

h1{
	color: white;
	font-weight: bold;
}



#search{
	margin: 10px, 10px, 10px, 10px;
	padding: 10px;
	border-radius: 10px;	
}



#mySection {
	white-space: pre;
	background-size: cover;
    background-position: top;
    width: 100vw;
    height: 110vh;
    padding: 75px 100px;
    text-align: center;
}



#tblProj{
	border-radius: 10px;		
}



