
body{
	background-color: #2d3436;
	background-image: linear-gradient(360deg, #2d3436 0%, #000000 74%);
	overflow-x: hidden;	
}

h1{
	color: white;
	font-weight: bold;
}



#search{
	margin: 10px, 10px, 10px, 10px;
	padding: 10px;
	border-radius: 10px;	
}


#mySection {
	background-size: cover;
    background-position: top;
    height:50vh; 
    width: 90vw;
    margin: auto;
    padding: 75px 100px;
    text-align: center;
    margin-bottom: 40%;
}

.my-custom-scrollbar {
    float: left;
    width: 100%;
    height: 400px;
    overflow: auto;
    margin-top: 5vh;
    }
.table-wrapper-scroll-y {
    display: block;
    }

footer {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: rgba(52, 58, 64);
    padding: 10px;
    width: 100%;
}