body{
	background-color: #2d3436;
	background-image: linear-gradient(360deg, #2d3436 0%, #000000 74%);
	overflow-x: hidden;
}


h1, h2{
	color: white;
	font-weight: bold;
}

label{
	color: white;
}

#formDiv{
	margin: auto;
	margin-top: 13vh;
	margin-bottom: 10vh;
 	width: 25%;
	text-align: left;
	border-style: solid;
	padding: 5vh;
}

#btnDelete, #btnUpdate {
	margin-top: 5px;
}

#mySection {
	background-size: cover;
    background-position: top;
    height:50vh; 
    width: 45%;
    margin: auto;
    text-align: center;
    margin-bottom: 20%;
}

.my-custom-scrollbar {
    float: left;
    width: 100%;
    height: 400px;
    overflow: auto;
    margin-top: 5vh;
    }
.table-wrapper-scroll-y {
    display: block;
    }
    
    
    
footer {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: rgba(52, 58, 64);
    padding: 10px;
    width: 100%;
}
    